.city-currency-converter {
  position: relative;
  width: 100%;
  font-size: $primary-font-size__pc;
  transition: transform 0.25s ease-out;
  background-color: $background-color__card;
  z-index: 1;
  @include slow-appearance;
}

.city-currency-converter__box {
  display: flex;
  margin-bottom: 5%;
  margin-top: 1%;
}

.city-currency-converter__input,
.city-currency-converter__select,
.city-currency-converter__button {
  width: 30%;
  font-size: $primary-font-size__pc;
}

.city-currency-converter__button,
.city-currency-converter__select {
  margin-left: 5%;
}
