.city-weather-box {
  transition: transform 0.25s ease-out;
  position: relative;
  width: 100%;
  font-size: $primary-font-size;
  background-color: $background-color__card;
  z-index: 1;
}

.city-weather {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 27%;
}
