.city-card {
  width: 30%;
  padding: 20px;
  background-color: $background-color__card;
  border-radius: 10px;
  &:hover {
    .city-info,
    .city-weather-box,
    .city-currency-converter {
      transform: translateY(-5vh);
    }
  }
  @media (pointer: coarse) {
    .city-info,
    .city-weather-box,
    .city-currency-converter {
      transform: translateY(-5vh);
    }
  }
}
