.city-card {
  width: 280px;
  height: 380px;
  padding: 20px;
  background-color: $background-color__card;
  border-radius: 10px;
  margin: 10px;

  &:hover {
    .city-info,
    .city-weather,
    .city-currency-converter,
    .city-name {
      transform: translateY(-35px);
    }
  }

  @media (pointer: coarse) {
    .city-info,
    .city-weather,
    .city-currency-converter {
      transform: translateY(-35px);
    }
  }

  // @media #{$xs} {
  //   width: 100%;
  // }
  // @media #{$sm} {
  //   width: 220px;
  // }
  // @media #{$md} {
  //   width: 250px;
  // }
  // @media #{$lg} {
  //   width: 300px;
  // }
  // @media #{$xl} {
  //   width: 420px;
  // }
}
