@import "../MainCityInfo.scss";

.nav-bar {
  position: relative;
}

.button__main {
  position: absolute;
  width: 270px;
  height: 40px;
  border-radius: 15px;
  padding: 5px 25px;
  background-color: $primary-color__black;
  color: $primary-color__white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button__main:hover {
  background-color: rgb(68, 68, 68);
}

.button1 {
  @extend .button__main;
  bottom: 3px;
  left: 5px;
}

.button2 {
  @extend .button__main;
  bottom: 3px;
  right: 5px;
}

.clock {
  @extend .box__main;
  top: 30px;
  left: 30px;
  width: 135px;
  font-weight: bold;
}
