$background-color: #6bdea1cb;
$primary-color__black: #252525;
$primary-color__white: #e9e8e8;
$primary-font-size: 25px;

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Нормализация */
}

body {
  background-color: $background-color;
}

.App {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__box {
  
}

