$background-color: #6bdea1c4;
$background-color__card: #818181;
$primary-color__black: #25252589;
$primary-color__white: #e9e8e8;
$primary-font-size__pc: 25px;

@import "./components/city-photo/CityPhoto.scss";
@import "./components/city-info/CityInfo.scss";
@import "./components/city-navbar/CityNavbar.scss";
@import "./components/city-card/CityCard.scss";
@import "./components/city-name/CityName.scss";
@import "./components/city-weather/CityWeather.scss";
@import "./components/city-currency-converter/CityCurrencyConverter.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Нормализация */
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: $background-color;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-size: 28px;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.4;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
}

h5 {
  font-size: 16px;
  line-height: 1.6;
}

h6 {
  font-size: 14px;
  line-height: 1.7;
}

p,
ul,
ol,
a {
  font-size: 16px;
  line-height: 1.5;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city-browser-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}
