.city-info {
  position: relative;
  width: 100%;
  transition: transform 0.25s ease-out;
  background-color: $background-color__card;
  z-index: 1;
}

.city-info-entries {
  list-style-type: none;
  font-size: $primary-font-size__pc;
}

.city-info-caption {
  &::after {
    content: ": ";
  }
}
